<section class="slider">
  <div class="swiper-container kd-main-slider-container">
    <div class="swiper mySwiper kd-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'main_slide' %}
            <div class="swiper-slide kd-single-slide">
              <div class="slide-inner" style="background-image : url('{{ block.settings.background_img | img_url : 'master' }}')">
                <div class="slide-content">
                <h3 class="subtitle">{{ block.settings.title_sub_text }}</h3>
                <h2 class="main-title">{{ block.settings.title }}</h2>
                <p class="description">{{ block.settings.description }}</p>
                <a class="btn slider-btn" href="{{ block.settings.link }}">{{ block.settings.btn_title }}</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Navigation Arrows -->
      <div class="swiper-button-next kd-slider-next-btn"></div>
      <div class="swiper-button-prev kd-slider-prev-btn"></div>

      <!-- Pagination -->
      <div class="swiper-pagination kd-slider-pagination"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Slider",
  "settings": [],
  "blocks": [
    {
      "type": "main_slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "title_sub_text",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": "Button Title"
        },
        {
          "type": "image_picker",
          "id": "background_img",
          "label": "Background Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Slider",
      "blocks": [
        {
          "type": "main_slide"
        }
      ]
    }
  ]
}
{% endschema %}
